body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 100px 50px 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.header nav a {
  font-size: large;
  font-weight: bold;
  text-decoration: unset;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: rgb(255, 0, 0);
  color: white;

  transition: color 0.2s, background-color 0.2s;
}

.header nav a:hover {
  color: red;
  background-color: white;
}


.section {
  display: flex;
  flex-direction: column;

  background-color: aliceblue;
  box-shadow: 0px 0px 3px -1px;

  padding: 10px;
}

.section label {
  color: red;
  font-size: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}
